<div class="left nav">
    <!--nav_active-->
    <ul>
        <li id="video_type_count_li"><i class="nav_3"></i><a href="video_type_count.html">采集概况</a></li>
        <li id="video_type_max_count_li"><i class="nav_2"></i><a href="video_type_max_count.html">各分类收视</a></li>
        <li id="top_li"><i class="nav_1"></i><a href="video_top.html">top10排行</a></li>
    </ul>
</div>
<div class="header_center left" style="position:relative">

    <h2><strong>视频大数据展示平台</strong></h2>

</div>
<div class="right nav text_right">
    <ul>
        <li><i class="nav_1"></i><a href="index.html">视频分析</a></li>
        <li><i class="nav_2"></i><a href="quota.html">指标分析</a></li>
        <li><i class="nav_3"></i><a href="trend.html">趋势分析</a></li>
    </ul>
</div>