<div class="left nav">
    <!--nav_active-->
    <ul>
        <li id="video_type_count_li">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    采集状况
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="video_day_type_count.html">每日采集状况</a>
                    <a class="dropdown-item" href="video_type_count.html">总采集状况</a>
                </div>
            </div>
        </li>
        <li id="video_type_max_count_li"><i class="nav_2"></i><a href="video_type_max_count.html">各分类播放排行</a></li>
        <li id="top_play_li"><i class="nav_1"></i><a href="video_top_play_count.html">总播放排行</a></li>
    </ul>
</div>
<div class="header_center left" style="position:relative">

    <h2><strong>视频大数据展示平台</strong></h2>

</div>
<div class="right nav text_right">
    <ul>
        <li id="top_collect_li"><i class="nav_1"></i><a href="video_top_collect_count.html">总收藏排行</a></li>
        <li id="top_danmaku_li"><i class="nav_2"></i><a href="video_top_danmaku.html">总弹幕排行</a></li>
        <li><i class="nav_3"></i><a href="trend.html">趋势分析</a></li>
    </ul>
</div>