<div class="left nav">
    <!--nav_active-->
    <ul>
        <li id="video_type_count_li">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    采集概况
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="video_day_type_count.html">每日采集概况</a>
                    <a class="dropdown-item" href="video_type_count.html">总采集概况</a>
                </div>
            </div>
        </li>
        <li id="top_play_li">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    播放排行
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="video_type_max_count.html">各分类播放排行</a>
                    <a class="dropdown-item" href="video_top_play_count.html">总播放排行</a>
                </div>
            </div>
        </li>
        <li id="active_user_li"><i class="nav_1"></i><a href="active_user_count.html">活跃用户分析</a></li>
    </ul>
</div>
<div class="header_center left" style="position:relative">

    <h2><strong>视频大数据展示平台</strong></h2>

</div>
<div class="right nav text_right">
    <ul>
        <li id="top_collect_li"><i class="nav_1"></i><a href="video_top_collect_count.html">总收藏排行</a></li>
        <li id="top_danmaku_li"><i class="nav_2"></i><a href="video_top_danmaku.html">总弹幕排行</a></li>
       <!-- <li><i class="nav_3"></i><a href="trend.html">趋势分析</a></li>-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown"
               style="height: 60px;width: 2%">
                <img alt="加载中" class="img-circle" src="http://i0.hdslb.com/bfs/face/5842c13ca8819c62d8af0f21bea186eefeff9d58.jpg" width="38px" height="38px"/>
                <span style="color: #FFFFFF;font-size: 15px">
                                <i>血小板</i>
                                <b class="caret"></b>
                            </span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="video_day_type_count.html">每日采集状况</a>
                <a class="dropdown-item" href="video_type_count.html">总采集状况</a>
            </div>
        </li>
    </ul>

</div>