<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大数据展示平台</title>
    <link href="../styles/common.css" rel="stylesheet">
    <script src="../scripts/Plugin/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../scripts/Plugin/echarts.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/include.js"></script>
    <script src="../scripts/video_type_count.js"></script>
</head>
<body>
<!--顶部-->
<header class="header left">
    <include src="head.html"></include>
</header>
<!--内容部分-->
<div class="con left" style="width:100%;">
    <!--统计分析图-->
    <div class="div_any">
        <div class="left div_any01" style="width:100%;">
            <div class="div_any_child" style="width:100%;position:relative;height: 430px;">
                <div class="div_any_title"><img src="../images/title_13.png">各分类视频信息总采集概况</div>
                <div id="video_type_count" style="width: 90%;height: 95%;margin-top: 2%;margin-left: 1%"></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
