<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.web.dao.VideoTopRankScoreMapper">

    <select id="getVideoCategoryCount" resultType="VideoTypeCount">
        SELECT
			v1.video_type_id video_type_id,
			v.video_type_name video_type_name,
			v1.count video_count
		FROM
			dw_video_type_count v
		INNER JOIN
		( SELECT t.video_type_id video_type_id, count( t.video_type_id ) count
			FROM dw_video_top_rank_score t
			GROUP BY t.video_type_id ) v1
		ON v.video_type_id = v1.video_type_id;
    </select>

    <select id="findAll" resultType="VideoTopRankScore">
		SELECT
			v.video_type_id,
			v1.video_type_name,
			v.video_name,
			v.rank_score
		FROM
			dw_video_top_rank_score v
		INNER JOIN dw_video_type_count v1 ON v.video_type_id = v1.video_type_id
		ORDER BY v.rank_score ASC
	</select>
</mapper>